main{
    min-height: calc(100vh - 68px - 80px);
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    min-width: 320px;
}
// Header
.header{
    width: 100vw;
    height: 68px;
    max-height: 68px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    z-index: 10;
}
.todo{
    border-bottom: 5px solid $cherry-red;
    padding-bottom: 17.7px;
    border-radius: 1px;
    z-index: 100;
}

// Hero
.hero{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &__image{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__gradient{
        width: 100%;
        height: 180px;
        position: absolute;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

// Info
.info{
    width: 100vw;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title{
        font-family: 'Eina01', sans-serif;
        font-weight: bold;
        font-size: 8rem;
        line-height: 66.46px;
        text-align: left;
        color: $cherry-red;
    }
    &__text{
        width: 688px;
        font-family: 'Eina03', sans-serif;
        font-weight: normal;
        font-size: 2rem;
        line-height: 23.44px;
        text-align: justify;
        color: $pure-black;
        margin-left: 82px;
    }
}

// Display
.display{
    width: 100vw;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__choices{
        width: 100%;
        height: 100%;
        background-color: $cherry-red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 90px;
        &--selected{
            font-family: 'Eina01', sans-serif;
            font-weight: bold;
            font-size: 4rem;
            line-height: 38.52px;
            text-align: center;
            color: $pure-white;
        }
        &--unselected{
            font-family: 'Eina01', sans-serif;
            font-weight: bold;
            font-size: 4rem;
            line-height: 38.52px;
            text-align: center;
            color: $pure-white;
            opacity: 50%;
        }
    }
    &__grid{
        width: auto;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        &--item{
            height: 375px;
            width: 289.67px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: all 0.25s ease-in-out;
            img{
                height: 100%;
                width: 100%;
                transition: all 0.25s ease-in-out;
            }
            &__hover{
                display: none;
                transition: all 0.25s ease-in-out;
                p{
                    display: none;
                    transition: all 0.25s ease-in-out;
                }
            }
        }
    }
}
.display__grid--item:hover img{
    cursor: pointer;
    opacity: 30%;
}

.display__grid--item:hover .display__grid--item__hover{
    position: absolute;
    background-color: $pure-white;
    display: inline;
    font-family: 'Eina01', sans-serif;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 28px;
    text-align: center;
    color: $pure-black;
    background-color: transparent;
}
.display__grid--item:hover .display__grid--item__hover:hover{
    cursor: pointer;
}