main{
    min-height: calc(100vh - 68px - 80px);
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    min-width: 320px;
}
// Header
.header{
    width: 100vw;
    height: 68px;
    max-height: 68px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    z-index: 10;
}
.todo{
    border-bottom: 5px solid $cherry-red;
    padding-bottom: 17.7px;
    border-radius: 1px;
    z-index: 100;
}

// Hero
.hero{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &__image{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__gradient{
        width: 100%;
        height: 180px;
        position: absolute;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

// Info
.info{
    width: 100vw;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title{
        font-family: 'Eina01', sans-serif;
        font-weight: bold;
        font-size: 8rem;
        line-height: 66.46px;
        text-align: left;
        color: $cherry-red;
    }
    &__text{
        width: 688px;
        font-family: 'Eina03', sans-serif;
        font-weight: normal;
        font-size: 2rem;
        line-height: 23.44px;
        text-align: justify;
        color: $pure-black;
        margin-left: 82px;
    }
}

// Display
.display{
    width: 100vw;
    height: 750px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &__image{
        width: 579.47px;
        max-width: 580px;
        height: 100%;
        margin-right: 87px;
        img{
            width: 579.47px;
            height: 100%;
        }
    }
    &__content{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &--head{
            height: fit-content;
            display: flex;
            align-items: center;
            margin-bottom: 38px;
            h2{
                font-family: 'Eina03', sans-serif;
                font-weight: bold;
                font-size: 3rem;
                line-height: 28.89px;
                text-align: center;
                color: $cherry-red;
                margin-right: 50px; 
            }
            hr{
                width: 0px;
                height: 56px;
                border-right: 1px solid $cherry-red;
            }
            h3{
                font-family: 'Eina03', sans-serif;
                font-weight: normal;
                font-size: 3rem;
                line-height: 28.89px;
                text-align: center;
                color: $cherry-red;
                margin-left: 50px; 
            }
        }
        &--title{
            height: fit-content;
            display: flex;
            align-items: flex-start;
            h1{
                width: 625px;
                font-family: 'Eina01', sans-serif;
                font-weight: bold;
                font-size: 6.144rem;
                line-height: 61.44px;
                text-align: left;
                color: $pure-black;
                margin-right: 26px; 
            }
        }
        &--subtitle{
            font-family: 'Eina01', sans-serif;
            font-weight: 300;
            font-size: 4.5rem;
            line-height: 45px;
            text-align: left;
            color: $pure-black;
        }
        &--coordinate{
            font-family: 'Eina02', sans-serif;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 17.5px;
            text-align: left;
            color: $biru;
            margin-top: 15px;
            margin-bottom: 34px;
        }
        &--text{
            margin-bottom: 46px;
            text-align: left;
            p{
                width: 554px;
                font-family: 'Eina03', sans-serif;
                font-weight: normal;
                font-size: 2rem;
                line-height: 23.44px;
                text-align: justify;
                color: $pure-black;
            }
        }
        &--waze{
            width: 308px;
            height: 56px;
            background-color: $light-grey;
            border: none;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 125px;
            img{
                margin-right: 10px;
            }
            p{
                font-family: 'Eina02', sans-serif;
                font-weight: 600;
                font-size: 2rem;
                line-height: 23.44px;
                text-align: center;
                color: #455A64;
                text-decoration: underline;
            }
        }
    }
}