main{
    min-height: calc(100vh - 68px - 80px);
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    min-width: 320px;
}

// Header
.on{
    border-bottom: 5px solid $cherry-red;
    padding-bottom: 17.7px;
    border-radius: 1px;
    z-index: 100;
}