@font-face {
  font-family: "Eina01";
  src: url("../../fonts/Eina01-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina01";
  src: url("../../fonts/Eina01-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina01";
  src: url("../../fonts/Eina01-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina02";
  src: url("../../fonts/Eina02-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina02";
  src: url("../../fonts/Eina02-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina02";
  src: url("../../fonts/Eina02-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina03";
  src: url("../../fonts/Eina03-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina03";
  src: url("../../fonts/Eina03-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina03";
  src: url("../../fonts/Eina03-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina04";
  src: url("../../fonts/Eina04-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #F4F4F4;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #E7E7E7;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background: #E51C21;
}

::-webkit-scrollbar-thumb:hover {
  transition: all 0.3s ease-out;
  background: linear-gradient(360deg, #E21118 2.43%, #AE0F13 95.84%);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.header {
  width: 100vw;
  height: 68px;
  max-height: 68px;
  background-color: transparent;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nav__container {
  width: 1081px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5%;
}
.nav__container--wrapper__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  color: #252525;
  margin-right: 23px;
  z-index: 10;
}
.nav__container--wrapper__line {
  width: 1024px;
  height: 1px;
  margin-top: 20px;
  margin-right: 57px;
  background-color: #252525;
  border: none;
  position: relative;
  z-index: -1;
}
.nav__container--img {
  width: auto;
  height: auto;
  margin-top: 3%;
  margin-right: 50px;
  margin-left: 55px;
}

main {
  min-height: calc(100vh - 68px - 80px);
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  min-width: 320px;
}

.about {
  border-bottom: 5px solid #E51C21;
  padding-bottom: 17.7px;
  border-radius: 1px;
  z-index: 100;
}

.intro {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro__head {
  height: fit-content;
  margin-top: 44px;
  margin-bottom: 42px;
  position: relative;
}
.intro__head--info {
  position: absolute;
  bottom: 34px;
  left: 470px;
}
.intro__text {
  width: 1077px;
  height: fit-content;
  font-family: "Eina03", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 26.54px;
  color: #000000;
  text-align: center;
}

.mayor {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 73px;
}
.mayor__content {
  width: fit-content;
  height: fit-content;
  margin-left: 50px;
}
.mayor__content--text {
  width: 600px;
  height: 495px;
  margin-left: 20px;
  margin-right: 46px;
  font-family: "Eina01", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 14px;
  color: #000000;
  text-align: justify;
}
.mayor__content--button {
  width: 302px;
  height: 46px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  background-color: #E51C21;
  text-align: center;
  font-family: "Eina04", sans-serif;
  font-size: 1.4rem;
  line-height: 16.41px;
  font-weight: bold;
  color: #FFFFFF;
  transition: all 0.25s ease-in-out;
}
.mayor__image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mayor__image--title {
  font-family: "Eina01", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #1D3B83;
  text-align: right;
  margin-top: 34.64px;
}
.mayor__image--text {
  font-family: "Eina01", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #1D3B83;
  text-align: right;
  margin-top: -5px;
}

.mayor__content--button:hover {
  cursor: pointer;
  background-color: #1D3B83;
  color: #FFFFFF;
}

.logo {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 76px;
}
.logo__image {
  margin-left: 44px;
  margin-right: 46px;
}
.logo__content--title {
  margin-bottom: 16px;
}
.logo__content--text {
  width: 630px;
  height: 180px;
  font-family: "Eina01", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 18px;
  color: #000000;
  text-align: justify;
  margin-left: 16px;
}

.rationale {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 138px;
}
.rationale__title {
  font-family: "Eina01", sans-serif;
  font-weight: bold;
  font-size: 8rem;
  line-height: 80px;
  color: #E51C21;
  text-align: left;
  margin-left: 87px;
  margin-right: 92px;
  margin-top: -82px;
}
.rationale__content {
  width: 615px;
  height: 243px;
  display: flex;
  justify-content: center;
}
.rationale__content--text {
  width: 615px;
  height: 243px;
  font-family: "Eina01", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 18px;
  color: #000000;
  text-align: justify;
  margin-right: 44px;
}

.info {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.info__text {
  width: 1070px;
  height: 400px;
  font-family: "Eina01", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 23.44px;
  color: #000000;
  text-align: justify;
}

.parts {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.parts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.parts__container--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.variants {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 105px;
}
.variants__text {
  width: 1070px;
  height: 68px;
  font-family: "Eina01", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 23.44px;
  color: #000000;
  text-align: justify;
}
.variants__wrapper {
  width: fit-content;
  height: fit-content;
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.variants__wrapper--item {
  width: 248px;
  height: 436px;
  border-radius: 10px;
  border: none;
  background-color: #E51C21;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.variants__wrapper--item img {
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 33px;
}
.variants__wrapper--item__content {
  width: 202px;
  height: 143px;
}
.variants__wrapper--item__content h3 {
  font-family: "Eina02", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}
.variants__wrapper--item__content p {
  font-family: "Eina01", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 14px;
  color: #FFFFFF;
  text-align: center;
}

.links {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.links__title {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 92px;
  padding-right: 92px;
}
.links__title--text {
  width: 270px;
  font-family: "Eina02", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 38px;
  text-align: left;
  color: #000000;
}
.links__title--line {
  width: 100%;
  border-bottom: 1px solid #E51C21;
}
.links__container {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 12px;
  margin-top: 22px;
  margin-bottom: 60px;
}
.links__container--item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100vw;
  max-width: 100vw;
  height: 80px;
  max-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #E51C21;
}
.footer__containerLeft {
  width: 350px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__containerLeft--textLeft {
  font-family: "Eina01", "sans-serif";
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 20px;
  text-align: left;
}
.footer__containerLeft--textLeft a {
  color: #FFFFFF;
}
.footer__containerRight {
  width: 350px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__containerRight--textRight {
  font-family: "Eina01", "sans-serif";
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 20px;
  text-align: right;
}

/*# sourceMappingURL=about.css.map */
