@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina04";
  src: url("../fonts/Eina04-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #F4F4F4;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #E7E7E7;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background: #E51C21;
}

::-webkit-scrollbar-thumb:hover {
  transition: all 0.3s ease-out;
  background: linear-gradient(360deg, #E21118 2.43%, #AE0F13 95.84%);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.header {
  width: 100vw;
  height: 68px;
  max-height: 68px;
  background-color: transparent;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nav__container {
  width: 1081px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5%;
}
.nav__container--wrapper__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  color: #252525;
  margin-right: 23px;
  z-index: 10;
}
.nav__container--wrapper__line {
  width: 1024px;
  height: 1px;
  margin-top: 20px;
  margin-right: 57px;
  background-color: #252525;
  border: none;
  position: relative;
  z-index: -1;
}
.nav__container--img {
  width: auto;
  height: auto;
  margin-top: 3%;
  margin-right: 50px;
  margin-left: 55px;
}

main {
  min-height: calc(100vh - 68px - 80px);
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  min-width: 320px;
}

.gallery {
  border-bottom: 5px solid #E51C21;
  padding-bottom: 17.7px;
  border-radius: 1px;
  z-index: 100;
}

.intro {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro__head {
  height: fit-content;
  margin-top: 44px;
  margin-bottom: 42px;
  position: relative;
}
.intro__head--info {
  position: absolute;
  bottom: 34px;
  left: 470px;
}
.intro__text {
  width: 1077px;
  height: fit-content;
  font-family: "Eina03", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 16px;
  color: #000000;
  text-align: center;
}

.principal {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 43px;
}

.banner__image {
  width: auto;
  height: 77.82px;
  position: relative;
  box-shadow: 0px 4.01667px 4.01667px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.banner__image h2 {
  font-family: "Eina01", sans-serif;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 37.66px;
  color: #FFFFFF;
  margin-left: 27.6px;
  top: 20px;
  position: absolute;
  z-index: 10;
}
.banner__image img {
  height: 77.82px;
}
.banner__image--background {
  width: 100%;
  height: 77.82px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #E51C21;
  display: flex;
  opacity: 80%;
  mix-blend-mode: multiply;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.banner {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.banner__leftArrow {
  margin-right: 42px;
}
.banner__grid {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 20px;
  margin-bottom: 30px;
}
.banner__grid--card {
  position: relative;
}
.banner__grid--card__content {
  width: 234px;
  height: 234px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 100%);
  display: flex;
  align-items: flex-end;
  border-radius: 15px;
}
.banner__grid--card__content p {
  font-family: "Eina01", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 14px;
  color: #FFFFFF;
  margin-left: 25px;
  margin-bottom: 15px;
  z-index: 10;
}
.banner__rightArrow {
  margin-left: 42px;
}

.banner__image:hover {
  cursor: pointer;
}

.banner__image:hover .banner__image--background {
  background: #1D3B83;
}

.banner__grid--card:hover {
  cursor: pointer;
}

.upload__button {
  width: 196px;
  height: 33px;
  text-align: center;
  background-color: #E51C21;
  border: none;
  border-radius: 10px;
  font-family: "Eina01", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 14px;
  color: #FFFFFF;
  margin-left: 50%;
  transition: all 0.25s ease-in-out;
}
.upload__button a {
  color: #FFFFFF;
}

.upload__button:hover {
  cursor: pointer;
  background-color: #1D3B83;
}

.links {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.links__title {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 92px;
  padding-right: 92px;
}
.links__title--text {
  width: 270px;
  font-family: "Eina02", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 38px;
  text-align: left;
  color: #000000;
}
.links__title--line {
  width: 100%;
  border-bottom: 1px solid #E51C21;
}
.links__container {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 12px;
  margin-top: 22px;
  margin-bottom: 60px;
}
.links__container--item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100vw;
  max-width: 100vw;
  height: 80px;
  max-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #E51C21;
}
.footer__containerLeft {
  width: 350px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__containerLeft--textLeft {
  font-family: "Eina01", "sans-serif";
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 20px;
  text-align: left;
}
.footer__containerLeft--textLeft a {
  color: #FFFFFF;
}
.footer__containerRight {
  width: 350px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__containerRight--textRight {
  font-family: "Eina01", "sans-serif";
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 20px;
  text-align: right;
}

/*# sourceMappingURL=gallery.css.map */
