@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina04";
  src: url("../fonts/Eina04-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Eina01", sans-serif;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #F4F4F4;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #E7E7E7;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background: #E51C21;
}

::-webkit-scrollbar-thumb:hover {
  transition: all 0.3s ease-out;
  background: linear-gradient(360deg, #E21118 2.43%, #AE0F13 95.84%);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

main {
  min-height: calc(100vh - 68px - 80px);
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  min-width: 320px;
}

.header {
  width: 100vw;
  height: 68px;
  max-height: 68px;
  background-color: transparent;
  position: absolute;
  top: 0px;
  z-index: 10;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nav__container {
  width: 1081px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5%;
}
.nav__container--wrapper__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  color: #FFFFFF;
  margin-right: 23px;
  z-index: 10;
}
.nav__container--wrapper__line {
  width: 1024px;
  height: 1px;
  margin-top: 20px;
  margin-right: 57px;
  background-color: #FFFFFF;
  border: none;
  position: relative;
  z-index: -1;
}
.nav__container--img {
  width: auto;
  height: auto;
  margin-top: 3%;
  margin-right: 50px;
  margin-left: 55px;
}

.home {
  border-bottom: 5px solid #E51C21;
  padding-bottom: 17.7px;
  border-radius: 1px;
  z-index: 100;
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../src/images/kualaLumpur_city_night.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  text-align: center;
}
.hero__title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 12rem;
  color: #FFFFFF;
}
.hero__title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #FFFFFF;
}
.hero__search {
  width: 420px;
  height: 35px;
  border-radius: 6px;
  opacity: 80%;
  margin-top: 36px;
  position: relative;
}
.hero__search--input {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: none;
  text-align: center;
}
.hero__search--image {
  position: absolute;
  right: 11px;
  top: calc(50% - 7.1px);
}
.hero__social {
  position: absolute;
  bottom: 72px;
}
.hero__social--icon {
  margin-right: 20px;
}

.hero__search--input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #9C9C9C;
}

.events {
  width: 100vw;
  height: 502px;
  max-height: 502px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.events__article {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.events__article--arrow {
  margin: 15px;
}
.events__article--container__text {
  width: 100%;
  height: 18px;
  background-color: #E5E5E5;
  margin-bottom: 9px;
  border-radius: 5px;
  line-height: 18px;
}
.events__article--container__text p {
  margin-left: 7px;
  font-family: "Eina04", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #E51C21;
}
.events__center {
  text-align: center;
}
.events__center--text {
  margin-top: -10px;
  font-family: "Eina03", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  color: #000000;
}

.discover {
  width: 100vw;
  height: 180px;
  max-height: 180px;
  background-color: #E51C21;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.discover__container {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.discover__container--bar {
  width: 22px;
  max-width: 22px;
  min-width: 22px;
  height: 100%;
  min-height: 100%;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 100%);
}
.discover__container--title {
  width: 406px;
  margin-left: 70px;
  font-family: "Eina01", sans-serif;
  font-size: 6rem;
  line-height: 64.68px;
  font-weight: 600;
  color: #FFFFFF;
}
.discover__container--text {
  width: 433px;
  font-family: "Eina01", sans-serif;
  font-size: 1.2rem;
  line-height: 18px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: justify;
}
.discover__container--envolve {
  width: 258px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.discover__container--envolve__button {
  width: 120px;
  height: 32px;
  border-radius: 10px;
  background-color: #252525;
  border: none;
  font-family: "Eina02", sans-serif;
  text-align: center;
  font-size: 1.345rem;
  line-height: 32px;
  font-weight: bold;
  color: #E51C21;
  margin-bottom: 28px;
  transition: all 0.25s ease-in-out;
}

.discover__container--envolve__button:hover {
  background-color: #1D3B83;
  color: #FFFFFF;
}

.multimedia {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.things {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.things__title {
  margin-top: 56px;
}
.things__choices {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.things__choices--leftArrow {
  margin-right: 72px;
}
.things__choices--article {
  margin-right: 32px;
}
.things__choices--article__text {
  font-family: "Eina03", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.things__choices--article__image {
  border: 2px solid #E51C21;
  border-radius: 100%;
  padding: 8px;
  transition: all 0.25s ease-in-out;
}
.things__choices--rightArrow {
  margin-left: 40px;
}

.things__choices--article__image:hover {
  border-radius: 100%;
  border: 5px solid #005BAA;
}

.history {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 63px;
}
.history__title {
  width: 317px;
  height: 156px;
  margin-right: 50px;
}
.history__title--text {
  font-family: "Eina03", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.history__carousel {
  width: fit-content;
  height: 280px;
  display: flex;
  align-items: center;
}
.history__carousel--item {
  width: auto;
  height: auto;
  position: relative;
  border-radius: 5.6px;
}
.history__carousel--item__image {
  z-index: 1;
}
.history__carousel--item__number {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 14px;
  text-align: center;
  color: #000000;
  position: absolute;
  top: 10px;
  left: 12px;
}
.history__carousel--item__overlay {
  width: 100%;
  height: 110px;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 100%);
  border-bottom-left-radius: 5.6px;
  border-bottom-right-radius: 5.6px;
}
.history__carousel--item__overlay h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 14px;
  color: #FFFFFF;
}
.history__carousel--item__overlay p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 1.05rem;
  line-height: 10.5px;
  color: #FFFFFF;
  margin-top: 2px;
  margin-bottom: 20.5px;
}
.history__carousel--arrow {
  margin-left: 34px;
}

.pictures {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 77px;
}
.pictures__title {
  width: 320px;
  height: 140px;
  margin-bottom: 32px;
}
.pictures__title--text {
  font-family: "Eina03", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-top: -16px;
}
.pictures__carousel {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pictures__carousel--leftArrow {
  margin-right: 16px;
}
.pictures__carousel--grid {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 20px;
}
.pictures__carousel--item {
  width: auto;
  height: auto;
  position: relative;
  border-radius: 5.6px;
}
.pictures__carousel--item__image {
  z-index: 1;
}
.pictures__carousel--item__overlay {
  width: 100%;
  height: 110px;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 100%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.pictures__carousel--item__overlay h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 15px;
  color: #FFFFFF;
}
.pictures__carousel--item__overlay p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 12px;
  color: #FFFFFF;
  margin-top: 2px;
  margin-bottom: 20px;
}
.pictures__carousel--rightArrow {
  margin-left: 16px;
}

.video {
  width: 100vw;
  height: fit-content;
  margin-top: 90px;
}
.video__container {
  width: 100%;
  height: auto;
  position: relative;
}
.video__container--image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.video__container--title {
  position: absolute;
  top: 22%;
  left: 29.87%;
  right: 29.84%;
  z-index: 10;
}
.video__container--play {
  position: absolute;
  top: 40%;
  left: 48%;
  z-index: 20;
}

.stories {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.stories__title {
  width: fit-content;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stories__title--text {
  width: 377px;
  height: 20px;
  font-family: "Eina03", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-top: -16px;
}
.stories__carousel {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.stories__carousel--leftArrow {
  margin-right: 16px;
}
.stories__carousel--wrapper {
  display: flex;
  gap: 25px;
}
.stories__carousel--rightArrow {
  margin-left: 16px;
}

.safety {
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 46px;
  background-color: #E51C21;
}
.safety__image {
  width: fit-content;
  height: 400px;
}
.safety__image img {
  height: 400px;
}
.safety__content {
  width: 100%;
  height: 100%;
  padding-top: 29px;
  padding-left: 48px;
  margin-right: 38px;
  display: flex;
  flex-direction: column;
}
.safety__content--title {
  font-family: "Eina02", sans-serif;
  font-weight: bold;
  font-size: 5.7rem;
  line-height: 58px;
  text-align: left;
  color: #FFFFFF;
}
.safety__content--text {
  width: 656px;
  height: 177px;
  font-family: "Eina01", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 26.6px;
  text-align: left;
  color: #FFFFFF;
  margin-left: 6px;
  margin-top: 18px;
}
.safety__content--button {
  width: 120px;
  height: 32px;
  border-radius: 10px;
  background-color: #252525;
  border: none;
  font-family: "Eina02", sans-serif;
  text-align: center;
  font-size: 1.345rem;
  line-height: 32px;
  font-weight: bold;
  color: #E51C21;
  margin-top: -25px;
  margin-left: 78%;
  transition: all 0.25s ease-in-out;
}

.safety__content--button:hover {
  background-color: #1D3B83;
  color: #FFFFFF;
}

.what {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
.what__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.what__container--article {
  width: 940px;
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  margin-top: 35px;
  gap: 50px;
  border-bottom: 1px solid #E51C21;
}
.what__container--article__left {
  display: flex;
  flex-direction: row;
}
.what__container--article__left--number {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 35px;
  text-align: left;
  color: #000000;
}
.what__container--article__left--text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 20px;
  text-align: left;
  color: #000000;
  margin-left: 5px;
  padding-top: 10px;
}
.what__container--article__image {
  margin-bottom: 35px;
}
.what__container--article__right--title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 20px;
  text-align: left;
  color: #000000;
}
.what__container--article__right--text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 15px;
  text-align: left;
  color: #000000;
  padding-top: 10px;
}
.what__container--arrows {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.last-item {
  border-bottom: 0px;
}

.links {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.links__title {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 92px;
  padding-right: 92px;
}
.links__title--text {
  width: 270px;
  font-family: "Eina02", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 38px;
  text-align: left;
  color: #000000;
}
.links__title--line {
  width: 100%;
  border-bottom: 1px solid #E51C21;
}
.links__container {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 12px;
  margin-top: 22px;
  margin-bottom: 60px;
}
.links__container--item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100vw;
  max-width: 100vw;
  height: 80px;
  max-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #E51C21;
}
.footer__containerLeft {
  width: 350px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__containerLeft--textLeft {
  font-family: "Eina01", "sans-serif";
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 20px;
  text-align: left;
}
.footer__containerLeft--textLeft a {
  color: #FFFFFF;
}
.footer__containerRight {
  width: 350px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__containerRight--textRight {
  font-family: "Eina01", "sans-serif";
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 20px;
  text-align: right;
}

/*# sourceMappingURL=styles.css.map */
